<div class="p-8 bg-center bg-cover" style="background-image: url('{{.imageUrl}}')">
  <div class="min-w-1/2 center py-8">
    <div class="db mb-3">
      <div class="mw7 relative mb-4">
        <h1 class="text-6xl font-bold mb-3 white bg-white inline">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative">
        {{ if .subtitle }}
        <p class="font-bold text-4xl mb-3 bg-white inline">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
