<nav class="flex justify-between items-center center bg-white relative pb-0">

	<!-- Logo -->
	<a href="/" class="p-4 block mr-4 h-full w16 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="block mb-0 w-full"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="p-2">Products</a></li>

		<li><a href="/values" class="p-2">Values</a></li>

		<li><a href="/post" class="p-2">Blog</a></li>

		<li><a href="/news" class="p-2">News</a></li>

		<li><a href="/contact" class="p-2">Contact</a></li>
	</ul>

</nav>
